<%- include('header') -%>

<div class="box" id="heading">
    <h1>
        <%=dayname%>
    </h1>
</div>


<div class="box">
    <% for(var i = 0 ; i < newitems.length ; i++ ){ %>

        <div class="item">
            <input type="checkbox" class="checkbox-round">
            <p>
                <%= newitems[i] %>
            </p> 
            
        </div>

        <% } %>
            <form action="/" method="post">
                <input type="text" name="item" placeholder="New Task" autocomplete="off">
                <button type="submit">+</button>
            </form>

</div>



<%- include('footer') -%>